In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [2]:
#Essentials
import numpy as np
import psycopg2 as pg
import pandas as pd
import pandas.io.sql as pd_sql
import matplotlib.pyplot as plt

#sklearn "magic"
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.svm import LinearSVC, SVC
from sklearn.ensemble import RandomForestClassifier


#Different scores
from sklearn.metrics import precision_score, recall_score, accuracy_score, roc_auc_score, confusion_matrix
from sklearn.metrics import precision_recall_curve,f1_score, fbeta_score, roc_curve

#Nice to have
from mlxtend.plotting import plot_decision_regions
import seaborn as sns
plt.style.use('fivethirtyeight')
from sklearn import tree
from IPython.display import SVG
from graphviz import Source
from IPython.display import display 
from ipywidgets import interactive, FloatSlider
#interactive(lambda threshold: make_confusion_matrix(lm, threshold), threshold=(0.0,1.0,0.02))

%matplotlib inline

In [3]:
# Postgres info to connect

connection_args = {
    'host': '18.222.192.127', 
    'user': 'ubuntu',    # username
    'dbname': 'student_grades',   # DB that we are connecting to
    'port': 5432         # port we opened on AWS
}

# We will talk about this magic Python trick!
connection = pg.connect(**connection_args)

In [5]:
### Let's combine the two SQL tables into one

append_query = """SELECT * 
                    FROM maths_grades

                    UNION ALL

                    SELECT * 
                    FROM portuguese_grades
                    """

grades = pd_sql.read_sql(append_query, connection)

In [6]:
grades.head()

,sex,age,address,famsize,Pstatus,Medu,Fedu,reason,guardian,traveltime,...,Dalc,Walc,health,absences,G1,G2,G3,discipline,final_grade_label,final_grade_segment
0,F,18,U,GT3,A,4,4,course,mother,2,...,1,1,3,6,5,6,6,maths,Fail,Fail
1,F,17,U,GT3,T,1,1,course,father,1,...,1,1,3,4,5,5,6,maths,Fail,Fail
2,F,15,U,LE3,T,1,1,other,mother,1,...,2,3,3,10,7,8,10,maths,Pass,Sufficient
3,F,15,U,GT3,T,4,2,home,mother,1,...,1,1,5,2,15,14,15,maths,Pass,Good
4,F,16,U,GT3,T,3,3,home,father,1,...,1,2,5,4,6,10,10,maths,Pass,Sufficient

In [8]:
feat, grade_label = grades.iloc[:, :-2], grades.iloc[:, -2]

In [11]:
#print(feat.head())
#print(grade_label.head())

In [12]:
feat_train, feat_test, grade_label_train, grade_label_test = train_test_split(feat, grade_label, test_size=0.3, random_state=42)

In [ ]:
RF_model = RandomForestClassifier(n_estimators=10)